body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

/* Home Page */
.homePageMargin {
  margin-top: 62px;
  margin-bottom: 40px;
}

.videoBackground {
  background-image: url("./images/background.jpg");
  height: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1B1C1D;
}

.playVideoButton {
  text-align: center;
  line-height: 450px;
}

.iframeStyling {
  display: block;
  margin: auto;
  background-color: #cccccc;
  margin-top: -450px;
}

.searchBarStyle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui.horizontal.divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* News */
.newsMargin {
  margin-bottom: 30px;
}

.nextPrevButtons {
  text-align: center;
}

/* Form */
.formMargin {
  margin-top: 90px;
  margin-bottom: 40px;
}

.pushFooterToTheBottom {
  min-height: 100vh;
}
