body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.homeMargin {
  margin-top: 80px;
  margin-bottom: 30px;
}

.centered {
  display: block;
  margin: auto;
  background-color: #cccccc;
  margin-top: -314px;

}

.newsMargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.youtubeCover {
  background-color: black;
  height: 450px;
}

.vidCover {
  color: white;
  text-align: center;
  line-height: 300px;
}
